PORT=8000
WORKSPACE_ROOT=/temp-jobs #the files required to be executed are created here
GIN_MODE=DEBUG

REDIS_ADDRESS=localhost:6379
REDIS_PASSWORD=ninte dash
DATABASE_URL=postgres://hohohohohoehf:juri@localhost:5432/sneakPeak?sslmode=taisen
